/**
 * App.css
 *
 * @format
 */

.App-header {
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    height: 20%;
    width: 20%;
}
.NewHireForm {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.NewHireForm h2 {
    text-align: center;
    margin-bottom: 20px;
}

.NewHireForm label {
    display: block;
    margin-bottom: 10px;
}

.NewHireForm input[type="text"],
.NewHireForm input[type="email"],
.NewHireForm textarea,
.NewHireForm select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.NewHireForm select {
    height: 34px;
}

.NewHireForm button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.NewHireForm button[type="submit"]:hover {
    background-color: #0056b3;
}

.successmessage {
    display: flex;
    justify-content: center;
    font-size: larger;
    font-weight: bold;
    color: darkgreen;
}
