/** @format */

.App-header {
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    margin-right: 2.8125rem; /* 45px */
    height: 20%;
    width: 20%;
}

.NewHireForm {
    max-width: 37.5rem; /* 600px */
    margin: 0 auto;
    padding: 1.25rem; /* 20px */
    border: 0.0625rem solid #ccc; /* 1px */
    border-radius: 0.3125rem; /* 5px */
    background-color: #f9f9f9;
}

.NewHireForm h2 {
    text-align: center;
    margin-bottom: 1.25rem; /* 20px */
}

.NewHireForm label {
    display: block;
    margin-bottom: 0.625rem; /* 10px */
}

.NewHireForm input[type="text"],
.NewHireForm input[type="email"],
.NewHireForm textarea,
.NewHireForm select {
    width: 100%;
    padding: 0.5rem; /* 8px */
    margin-top: 0.3125rem; /* 5px */
    border: 0.0625rem solid #ccc; /* 1px */
    border-radius: 0.25rem; /* 4px */
    box-sizing: border-box;
}

.NewHireForm select {
    height: 2.125rem; /* 34px */
}

.NewHireForm button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 0.25rem; /* 4px */
    padding: 0.625rem 1.25rem; /* 10px 20px */
    cursor: pointer;
    font-size: 1rem; /* 16px */
}

.NewHireForm button[type="submit"]:hover {
    background-color: #0056b3;
}

.successmessage {
    display: flex;
    justify-content: center;
    font-size: 1.125rem; /* larger - adjust as needed */
    font-weight: bold;
    color: darkgreen;
}

.footer {
    margin-top: 0.625rem; /* 10px */
    display: flex;
    justify-content: center; /* Align items horizontally center */
    align-items: center; /* Align items vertically center */
    text-align: center; /* Align text center */
}

.footer p {
    display: inline;
    margin-left: 0.625rem; /* 10px */
}

.required-asterisk {
    color: red;
    /* margin-left: 1px; */
}

.footerlogo {
    height: 2.5rem; /* 40px */
    width: auto; /* Maintain aspect ratio */
}

.office-options label {
    white-space: nowrap; /* Prevent text from wrapping to the next line */
}

.success-link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.success-link:hover {
    text-decoration: none;
}
.success-message {
    margin-bottom: 20px; /* Adjust as needed */
}

/* Add media query for smaller screens */
@media (max-width: 37.5rem) {
    /* 600px */
    .App-header h1 {
        display: none;
    }

    .logo {
        margin-bottom: -4.375rem; /* -70px */
        margin-top: -5rem; /* -80px */
        width: 80%;
        margin-right: 0;
        height: auto;
    }

    .footerlogo {
        height: 6.25rem; /* 100px */
    }

    .office-options label {
        font-size: 0.875rem; /* 14px */
    }
}
